<% show_post ||= false %>

<div class="well span8">
  <em>"<%= comment.body %>"</em>
  <% if show_post %>
    en <%= link_to comment.post.title, post_path(comment.post) %>
  <% end %>
  </br>
  <span class = 'quiet'>Publicado por</span> <%= link_to comment.user.username, user_path(comment.user) %>
  <small>el <%= display_datetime(comment.created_at) %></small>
</div>